body {
  margin: 0;
  font-family: Arial;
}

.layout {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #111;
  color: white;
  padding: 10px;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}

.box {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 15px;
}

textarea {
  width: 100%;
  height: 120px;
}

